[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kosmaty
[access "refs/for/refs/*"]
	read = group user/kosmaty
	push = group user/kosmaty
	label-Code-Review = -2..+2 group user/kosmaty
	label-Verified = -1..+1 group user/kosmaty
	rebase = group user/kosmaty
	removeReviewer = group user/kosmaty
	submit = group user/kosmaty
[access "refs/heads/*"]
	read = group user/kosmaty
	create = group user/kosmaty
	push = +force group user/kosmaty
	pushMerge = group user/kosmaty
[access "refs/tags/*"]
	push = +force group user/kosmaty
	pushTag = group user/kosmaty
	pushSignedTag = group user/kosmaty
